meta(charset='UTF-8')
meta(name='viewport' content='width=device-width')
meta(name="description" content="")

link(rel='shortcut icon', href='assets/icon/favicon.ico?v=' +  _VERSION, type='image/x-icon')
link(href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css')
link(rel='stylesheet', href='assets/css/polygon.css?v=' + _VERSION)

include ../includes/ie.script.pug
