extends ./@view.pug
block content
	a(href="").button-chat: img(src=IMG + "icn-chat.png", alt="")
	footer
		.head-space.has-text-centered.is-small
			.copyright Copyright © #{YEAR} 
				a(href='/' target='_blank')= COMPANY
