extends ./@view.pug
block content

	.pg-progress(ng-show="vm.spinner"): .indeterminate
	header
		.container
			.column.has-text-centered
				.logo.head-space.is-small
					h1: a(ui-sref="dashboard"): img(src= IMG + "logo.png", alt="")
	
				
