extends ./@view.pug
block content

	div(ng-include="'views/header.html'")

	section.exchange
		.container: .head-space.is-large
			.columns
				.column.is-8.is-offset-2.is-12-mobile.is-offset-0-mobile
					.is-large.has-text-centered
						h2.has-text-white.is-size-3.has-text-weight-light Cotiza el tipo de cambio
			.columns
				.column.is-8.is-offset-2.is-12-mobile.is-offset-0-mobile
					.columns
						.column.is-6

							.field
								label.label.has-text-white.is-size-4.has-text-weight-light USD:

							.field.has-addons
								.control
									span.select.is-size-4
										select
											option $
								.control.is-expanded.is-large(ng-class="{'is-loading': vm.spinner}")
									input.input.is-size-4(type="number" placeholder="0.00" ng-model='vm.valueUSD' required decimal-places step="0.0001")

						.column.is-6

							.field
								label.label.has-text-white.is-size-4.has-text-weight-light EUR:

							.field
								input.input.is-size-4(placeholder="€0.00" type="text" value="{{vm.valueEUR | currency:'€':4}}" disabled)
				
					.field
						.control: a.button.is-info.is-medium.is-fullwidth(ng-click="vm.calculate(vm.valueUSD)")
							+icn('far', 'fa-check-circle')
							span Calcular
							

	div(ng-include="'views/footer.html'")